@import '../../../styles/utils'

.card
  height 100%
  flex(column)

.grow
  flex-grow 1
  flex(column)

.img
  object-fit: cover;
  object-position: 25% 50%;

.chip.chip
  margin 10px
  margin-left 0
  font-size 12px

.cell.cell
  padding 12px
  padding-left 5px

.times.times
  width 170px
  text-align center
  display flex
  flex-wrap wrap

.time
  text-align center
  margin 2px
  border-radius 3px
  width 47px
  font-size 13px
