flex(dir = 'row', jc = 'flex-start', ai = 'stretch')
  display flex
  flex-direction dir
  justify-content jc
  align-items ai


primary-light = #b4ffff
primary-main = #80deea
primary-dark = #4bacb8
primary-contrastText = #263238


secondary-light = #ffffff
secondary-main = #fafafa
secondary-dark = #c7c7c7
secondary-contrastText = #263238