@import '../styles/utils'

.footer
  width 100%
  padding 2rem
  display flex
  justify-content space-between
  align-items center
  .link
    text-decoration none
    color primary-dark
    &:hover
      text-decoration underline
  .icon
    cursor pointer
    svg
      color #999
      transition all .3s
      &:hover
        color primary-dark