@import '../styles/utils'

.card
  height 100%
  flex(column)

.grow
  flex-grow 1
  flex(column)

.icon
  color #67be4e
  &.ps
    color #29B6F6
  &.gs
    color #66BB6A
  &.jh
    color #FFA726
  &.ad
    color #ef5350

.img
  object-fit: cover;
  object-position: 25% 50%;

.chip.chip
  margin 10px
  margin-left 0
  font-size 12px