@import '../styles/utils'

.instructors
  padding 200px 0
  margin 150px auto
  background-image linear-gradient(to top right, primary-light, primary-dark)
  clip-path polygon(0% 10vh, 100% 0%, 100% calc(100% - 10vh), 0% 100%)

.container
  max-width 1024px
  padding 0 15px
  margin 0 auto

.heading
  margin-bottom 3rem

.img
  width: 100%;
  height: 100%;
  object-fit: cover;

.instructor
  padding: 5rem 3rem;

.img-wrapper
  clip-path: circle(45%)

.grow
  flex-grow: 1


.mr.mr
  @media (min-width 600px)
    margin-right: 1rem;

.wrapper
  flex(column, flex-start, stretch)
  height 100%
  h3, p
    line-height 1.5

.align-right
  text-align: right

.griditem
  padding 2rem

.pic
  order -1
  @media (min-width 600px)
    order 0

.first
  order -1

.bottom-bar
  display flex
  flex-direction column
  @media (min-width 600px)
    flex()
  a
    flex-grow 1
    margin-bottom 20px
    @media (min-width 600px)
      margin-bottom 0

.bottom-line-wrapper
  &:not(:last-child) .bottom-line::after
    content ""
    width 80%
    height 2px
    background-color #eee
    margin 40px auto