@import '../styles/utils'

.instructors
  padding 200px 0
  margin 150px auto
  background-image linear-gradient(to top right, primary-light, primary-dark)
  clip-path polygon(0% 10vh, 100% 0%, 100% calc(100% - 10vh), 0% 100%)

.container
  max-width 1024px
  padding 0 15px
  margin 0 auto