.Testimonials
  max-width 1024px
  padding 0 15px
  margin 0 auto
  margin-bottom 150px

  .grid-list
    height 600px

  .content-wrapper.content-wrapper
    position relative
    width 100% !important

  .content
    padding 3rem 5rem
    &:not(:last-child)
      margin-bottom 30px

  .text
    font-style italic
    color #999

  .right
    text-align right
    text-transform uppercase