@import '../../styles/utils'

.footer
  width 100%
  padding 2rem
  display flex
  justify-content space-between
  align-items center

  .link
    text-decoration none
    color primary-dark

    &:hover
      text-decoration underline

  .icons
    display flex
    .icon
      cursor pointer
      margin 0 5px

      svg
        color #999
        transition all .3s

        &:hover
          color primary-dark
