.wrapper
  padding-top 80px
  padding-left 15px
  padding-right 15px
  max-width 1024px
  margin 100px auto

.grid
  margin-top 2rem
  margin-bottom 2rem

.important.important
  color #f44336

.icon
  cursor pointer
  &:hover
    color rgba(0, 0, 0, 0.6)
